
<svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61"><title>3d-icon-button-control-angular</title><rect x="0.5" y="0.5" width="60" height="60" fill="#fff" stroke="#f5f5f5" stroke-miterlimit="10"/><path d="M30.5,17.35,18.24,24.42V38.58L30.5,45.65l12.26-7.08V24.42ZM20.24,37.42V25.58L30.5,19.65,40.63,25.5,30.5,31.38v12Z" fill="#3a3a3a"/></svg>