{% if pagination.pages > 1 %}
    <nav role="navigation" class="flex justify-center items-center my-8">
        {% if pagination.previous %}
            <a href="{{ pagination.previous.url }}" class="border border-gray-600 text-gray-600 hover:bg-gray-600 hover:text-white px-8 py-3 mx-1 rounded-sm font-medium">Previous</a>
        {% endif %}

        {% if pagination.next %}
            <a href="{{ pagination.next.url }}" class="border border-gray-600 text-gray-600 hover:bg-gray-600 hover:text-white px-8 py-3 mx-1 rounded-sm font-medium">Next</a>
        {% endif %}
    </nav>
{% endif %}